/* General Styling
--------------- */
:root {
    --purewhite: #FFFFFF;
    --darkblue: #1E2A47;
    --background-color: #F6F8FF;
    --text-color: #4B6A9B;
    --section-bg: #FEFEFE;
    --stats-bg: #F6F8FF;
    --stats-color: #4B6A9B;

    --brightblue: #0079FF;
    --brightbluehover: #60ABFF;
    --grey: #697C9A;
    --bluegrey: #4B6A9B;
    --black: #2B3442;
    --offwhite: #F6F8FF;
    --white: #FEFEFE;
    --darkblack: #141D2F;
    --logo-color: #222731;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  min-width: 20px;
  /* display: block; */
  color: var(--text-color);
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, textarea, select {
  -webkit-box-sizing: border-box;
  box-sizing: border;
}

[data-theme="dark"] {
  --background-color: var(--darkblack);
  --text-color: var(--purewhite);
  --logo-color: var(--purewhite);
  --section-bg: var(--darkblue);
  --stats-bg: var(--darkblack);
  --stats-color: var(--purewhite);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  box-sizing: border-box;

}

/* Typography
---------- */

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: var(--logo-color);
}

div > h1 {
font-size: 16px;
line-height: 24px;
color: var(--text-color);
}

@media screen and (min-width: 768px) {
  div > h1 {
    font-size: 26px;
    line-height: 39px;
  }
}

h2 {
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* color: var(--bluegrey); */
}

h3 {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--brightblue);
}

h4 {
font-weight: 400;
font-size: 13px;
line-height: 19px;
/* color: var(--bluegrey); */
}

p {
font-weight: 400;
font-size: 13px;
line-height: 25px;
/* color: var(--bluegrey); */
min-width: 10rem;
}

@media screen and (min-width: 850px) {
  p, h4 {
    font-size: 15px;
  }
}

.main-container {
  max-width: 327px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 573px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 850px) {
  .main-container {
    max-width: 730px;
    margin: 0 auto;
  }
}

/* Header with logo and light/dark toggle
--------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(1.6rem, 8%, 2.4rem);
}

button#theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  background-color: transparent;
  border: transparent;

}

button#theme-switcher:hover {cursor: pointer;}

.button-wrap {
font-weight: 700;
font-size: 13px;
line-height: 19px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: var(--text-color);
min-width: 75px;

}

/* Form - Search box
-------------------- */

.search-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  min-height: 4rem;
  max-height: 4.6rem;
  /* margin-bottom: clamp(1.6rem, 8%, 2.4rem); */
  background-color: var(--section-bg);
}

#search-icon {
  margin-left: clamp(16px, 4vw, 32px)
}

input {
width: 65%;
/* height: clamp(1.67rem, %, 3rem); */
font-weight: 400;
font-size: 13px;
line-height: 25px;
color: var(--text-color);
}

input:hover {cursor: pointer;}

::placeholder {color: var(--text-color);
background-color: none;}

input[type="search"] {
border-style: none;
background:none;
}

input[type="search"]:active,
input[type="search"]:focus {
  border-style: none;
  background-color:none;
}

button#search-btn {
background-color: var(--brightblue);
border-radius: 10px;
border: none;
color: var(--purewhite);
font-weight: 700;
font-size: 14px;
line-height: 21px;
max-width: 106px; 
min-width: 84px;
width: 9vw;
max-height: 46px;
min-height: 50px;
height: 90%;
font-family: inherit;
margin-right: clamp(7px, 1vw, 10px);

}

button#search-btn:hover {
background-color: var(--brightbluehover);
}

.hide {
  display: none;
}

.noresults {
  display:inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #F74646;
  position: absolute;
  padding-bottom: 20px;
  margin-left: -20px;
}

/* Github User info card
-------------------- */

.github-info-box {
background: var(--section-bg);
box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
border-radius: 15px;

/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */


}

.wrapper {
  width: 85%;
  margin: clamp(16px, 8% ,48px);
  padding-top: clamp(16px, 8% ,48px);
  padding-bottom: clamp(16px, 8% ,48px);

  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 48px 22px auto auto auto auto;
  grid-template-areas:
    "avatar info"
    "avatar join"
    "bio bio"
    "stats stats"
    "link1 link1"
    "link2 link2"

}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 117px 124px auto;
    grid-template-rows: 63px 51px auto auto auto;
    grid-template-areas:
    "avatar info info"
    "avatar join join"
    "bio bio bio"
    "stats stats stats"
    "link1 link1 link2";
  }
}
@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 117px 202px auto;
    grid-template-rows: 63px 31px auto auto auto;
    grid-template-areas:
    "avatar info join"
    "avatar . ."
    "avatar bio bio"
    "stats stats stats"
    "link1 link1 link2"
  }
}


/* .user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* @media screen and (min-width: 850px) {
  .user-info {
    justify-content: space-between;
  }
} */

#avatar-box {grid-area: avatar;}

#avatar {
  width: clamp(70px, 20vw , 117px);
  border-radius: 50%;

}

#info-box {
  /* height: 4.67rem; 70px; */
  margin-left: 1rem;
  grid-area: info;

}

#join-box {
  grid-area: join;
  /* text-align: right; */
  /* padding-top: 11px; */
  font-size: 15px;
  line-height: 22px;
  margin-left: 1rem;
}

@media screen and (min-width: 850px) {
  #join-box {
    text-align: right;
  }
}


#bio-box {
  grid-area: bio;
  /* margin-inline: 1rem; */
}

li {list-style-type: none;}


.user-stats {
  grid-area: stats;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */

  background-color: var(--stats-bg);
  color: var(--stats-color);
  border-radius: 10px;

  width: 100%;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

}

@media screen and (min-width: 768px) {
  .user-stats {
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;}
}

.stats {text-align: center;}

.link1 {grid-area: link1;}

.link2 {grid-area: link2;}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {text-decoration-line: underline;}

a span {
  margin-left: .3rem;
  width: 75%;
}

a > img {
  height: 20px;
  max-width: 20px;
}

.not-available {
  mix-blend-mode: normal;
  opacity: 0.5;
}
