/* General Styling
--------------- */
:root {
    --purewhite: #FFFFFF;
    --darkblue: #1E2A47;
    --background-color: #F6F8FF;
    --text-color: #4B6A9B;
    --section-bg: #FEFEFE;
    --stats-bg: #F6F8FF;
    --stats-color: #4B6A9B;

    --brightblue: #0079FF;
    --brightbluehover: #60ABFF;
    --grey: #697C9A;
    --bluegrey: #4B6A9B;
    --black: #2B3442;
    --offwhite: #F6F8FF;
    --white: #FEFEFE;
    --darkblack: #141D2F;
    --logo-color: #222731;


}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  min-width: 20px;
  /* display: block; */
  color: var(--text-color);
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, textarea, select {
  -webkit-box-sizing: border-box;
  box-sizing: border;
}

[data-theme="dark"] {
  --background-color: var(--darkblack);
  --text-color: var(--purewhite);
  --logo-color: var(--purewhite);
  --section-bg: var(--darkblue);
  --stats-bg: var(--darkblack);
  --stats-color: var(--purewhite);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  box-sizing: border-box;

}

/* Typography
---------- */

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: var(--logo-color);
}

div > h1 {
font-size: 16px;
line-height: 24px;
color: var(--text-color);
}

h2 {
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* color: var(--bluegrey); */
}

h3 {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--brightblue);
}

h4 {
font-weight: 400;
font-size: 13px;
line-height: 19px;
/* color: var(--bluegrey); */
}

p {
font-weight: 400;
font-size: 13px;
line-height: 25px;
/* color: var(--bluegrey); */
min-width: 10rem;
}

.main-container {
  width: min(90%, 80rem);
  /* border: 2px solid red; */
  margin: min(1.6rem, 23.67rem);
}

/* Header with logo and light/dark toggle
--------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4em;
}

button#theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  background-color: transparent;
  border: transparent;

}

button#theme-switcher:hover {cursor: pointer;}

.button-wrap {
font-weight: 700;
font-size: 13px;
line-height: 19px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: var(--text-color);
min-width: 75px;

}

/* Form - Search box
-------------------- */

.search-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  height: 4rem;
  margin-bottom: 1.07rem;
  background-color: var(--section-bg);
}

input {
width: min(13rem, 15rem);
height: min(1.67rem, 3rem);
font-weight: 400;
font-size: 13px;
line-height: 25px;
color: var(--text-color);
}

::placeholder {color: var(--text-color);}

input[type="search"] {
border-style: none;
background:none;
}

input[type="search"]:active,
input[type="search"]:focus {
  border-style: none;
  background:none;
}

button#search-btn {
background-color: var(--brightblue);
border-radius: 10px;
border: none;
color: var(--purewhite);
font-weight: 700;
font-size: 14px;
line-height: 21px;
width: min(4.27rem, 7.73rem); 
height: min(3.07rem, 3.33rem);
font-family: inherit;

}

button#search-btn:hover {
background-color: var(--brightbluehover);
}

.hide {
  display: none;
}

.noresults {
  display:inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #F74646;
  position: absolute;
  padding-bottom: 20px;
  margin-left: -20px;
}

/* Github User info card
-------------------- */

.github-info-box {
background: var(--section-bg);
box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
border-radius: 15px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.user-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: min(1.6rem, 23.67rem);



}

#avatar {
  height: 4.67rem; /*70px*/
  border-radius: 50%;

}

#info-box {
  height: 4.67rem; /*70px*/;
  margin-left: 1rem;

}

.user-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */

  background-color: var(--stats-bg);
  color: var(--stats-color);
  border-radius: 10px;

  width: 100%;
  margin-top: 1.6rem;

}

.stats {text-align: center;}

.link-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3.2rem;
  margin-bottom: 3.2rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {text-decoration-line: underline;}

a span {
  margin-left: .8rem;
  width: 75%;
}

.not-available {
  mix-blend-mode: normal;
  opacity: 0.5;
}
