/* General Styling
--------------- */
:root {
    --brightblue: #0079FF;
    --grey: #697C9A;
    --bluegrey: #4B6A9B;
    --black: #2B3442;
    --offwhite: #F6F8FF;
    --white: #FEFEFE;
    --purewhite: #FFFFFF;
    --darkblack: #141D2F;
    --darkblue: #1E2A47;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, textarea, select {
  -webkit-box-sizing: border-box;
  box-sizing: border;
}

html,body {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  box-sizing: border-box;

  background-color: var(--offwhite);


}

.main-container {
  min-width: 320px;
  margin: 6%;
  
}

@media screen and (min-width: 768px) {
  .main-container {
    margin: 12.6%;
  }
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: fit-content; */
  height: 39px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: var(--black);
}

a.mode-toggle {
  display: inline-block;
}